backend/ingestion-service/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### Mac OS Meta Data ###
.DS_Store




### Android
/android/**/*.iml
/android/**/.gradle
/android/**/local.properties
/android/**/.idea/caches
/android/**/.idea/libraries
/android/**/.idea/modules.xml
/android/**/.idea/workspace.xml
/android/**/.idea/navEditor.xml
/android/**/.idea/assetWizardSettings.xml
/android/**/.DS_Store
/android/**/build
/android/**/captures
/android/**/.externalNativeBuild
/android/**/.cxx

/android/data-emitter/**/config.properties
